html, body {
	height: 100%;
	position: relative;
	color: #000;
	background-color: #ddd;
	font-family: "Lucida Sans Unicode", Verdana;
	overflow-x: hidden
}

div#wrapper {
	background-color: #fffff9;
	max-width: 960px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
}

.container {
	width:100%;
	margin-right:auto;
	margin-left:auto
}

a, a:hover, a:active {
	color: #f24932
}

.navbar {
	margin: 0;
	padding: 0;
}

.navbar-default .navbar-toggle {
	border: 2px solid #f00;
}

.navbar-light .navbar-brand,
.navbar-light:hover .navbar-brand:hover {
	color: #000;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
	background-color: #ddd;
	padding-left: 5px;
}

.nav li > a {
	padding: 20px
}

.navbar li {
	font-size: 16px;
	text-transform: small-caps;
}

.navbar, .navbar-collapse {
	background: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
}

.navbar-collapse {
	border: none;
}

ul.nav.navbar-nav.navbar-right li.active a {
	color: #fff;
	background-color: #f24932;
	padding-left: 5px;
}

ul.nav.navbar-nav.navbar-right li a:hover, {
	color: #000;
	background-color: #ddd;
	border-bottom: 1px solid #000;
}

section.main {
	margin-top: 1em;
	font-size: 1em;
}

section.main h1 {
	font-size: 1.5em;
	color: #660000;	
	font-weight: 900;
	padding-left: 25px;
	background-image: url("..images/bullet.gif");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}

section.main h1 img {
	margin-right: 0.25em;
}

section.main h2 {
	font-size: 1.2em;
	color: #660000;
	font-weight: 900;
	padding-left: 25px;
	background-image: url("../images/bullet.gif");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}

section.main h2 img {
	margin-right: 0.25em;
	margin-bottom: -2px;
}

section.main img.portrait {
	float: right;
	width: 200px;
	height: 200px;
	margin-top: -2em;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

section.main h3 {
	color: #660000;
	font-size: 1em;
	float: left;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 0.5em;
}

section.main img.center {
	display: block;
	width: 80%;
	margin: 0 auto;
}

section.main img.right {
	float: right;
}

section.main dl {
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}

section.main dt {
	color: #660000;
	font-weight: bold;
	margin-right: 0.5em;
}

section.main dd {
	margin-left: 0em;
	margin-bottom: 1em;
}

section.main ul {
	clear: left;
	margin-top: 0em;
}

section.main ul#postcode {
	clear: none;
}

section.main a:link {
	color: #cc3300;
	text-decoration: none;
}

section.main a:hover {
	text-decoration: underline;
}

section.main a:visited {
	color: #cc3300;
	text-decoration: underline;
}

footer {
	border-top: 1px solid #999;
	height: 25px;
	padding-top: 0px;
	background-image: url("../images/bullet.gif");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}

footer p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 25px;
}

footer p.link {
	float: right;
	margin-top: 0px;
}

footer p.designer {
	float right;
	text-align: right;
}

footer p.link a, footer p.designer a {
	color: #660000;
	font-weight: bold;
	text-decoration: none;
}

footer img {
	vertical-align: middle;
	margin-right: 0.5em;
}

footer strong {
	color: #660000;
}

footer p.link a:hover, footer p.designer a:hover	{
	text-decoration: underline;
}

@media (max-width:992px) {
	.container,.container-md,.container-sm {
		max-width:100%
	}
}

@media (min-width: 300px) {
	h1 {font-size: 3em !important}
	div.container {width:100%; margin-right:auto;margin-left:auto;}
	.navbar-brand {white-space: normal !important}
}
