html, body {	height: 100%;	position: relative;	color: #000;
	background-color: #ddd;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;	overflow-x: hidden}
div#wrapper {
	background-color: #fffff9;
	max-width: 960px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
}

/* ==================== */

.container {
	width:100%;
	margin-right:auto;
	margin-left:auto
}

.navbar {
	margin: 0;
	padding: 0;
}

.navbar-default .navbar-toggle {
	border: 2px solid #f00;
}
/*
.navbar-brand{
	display:inline-block;
	padding-top:.3125rem;
	padding-bottom:.3125rem;
	margin-right:1rem;
	font-size:1.25rem;
	line-height:inherit;
	white-space:nowrap
}

.navbar-brand:focus,.navbar-brand:hover{
text-decoration:none
}

*/

.navbar-light .navbar-brand,
.navbar-light:hover .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;	background-color: #ddd;	padding-left: 5px;
}
.nav li > a {
	padding: 20px
}
.navbar li {	font-size: 16px;	text-transform: small-caps;}
.navbar, .navbar-collapse {	background: none;	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #999;}
.navbar-collapse {
	border: none;
}

ul.nav.navbar-nav.navbar-right li.active a {	color: #fff;
	background-color: #f24932;
	padding-left: 5px;
}
ul.nav.navbar-nav.navbar-right li a:hover, #menu-collapse a:hover {	color: #fff;
	background-color: #f24932;
}

/* ==================== */

section.main {
	margin-top: 1em;
	font-size: 1em;
}

section.main h1 {
	font-size: 1.5em;
	color: #660000;	
	font-weight: 900;
	padding-left: 25px;
	background-image: url("../images/bullet.gif");
	background-position: 0px 5px;
	background-repeat: no-repeat;
}

section.main h1 img {
	margin-right: 0.25em;
}

section.main h2 {
	font-size: 1.2em;
	color: #660000;
	font-weight: 900;
	padding-left: 25px;
	background-image: url("../images/bullet.gif");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}

section.main h2 img {
	margin-right: 0.25em;
	margin-bottom: -2px;
}

section.main h3 {
	color: #660000;
	font-size: 1em;
	float: left;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 0.5em;
}

section.main div.boxout {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 1em;
	border: 2px solid #F24932;
	padding: 1em 1em 0 1em;
}

section.main div.boxout h2 {
	color: #F24932;
}

section.main img.center {
	display: block;
	width: 80%;
	margin: 0 auto;
}

section.main img.right {
	float: right;
}

section.main img.portrait {
	float: right;
	width: 200px;
	height: 200px;
	margin-top: -2em;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

section.main dl {
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 0em;
	margin-top: 0em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}

section.main dt {
	color: #660000;
	font-weight: bold;
	margin-right: 0.5em;
}

section.main dd {
	margin-left: 0em;
	margin-bottom: 1em;
}

section.main ul {
	clear: left;
	margin-top: 0em;
}

section.main ul#postcode {
	clear: none;
}

section.main a:link {
	color: #f24932;
	text-decoration: none;
}

section.main a:hover {
	text-decoration: underline;
}

section.main a:visited {
	color: #f24932;
	text-decoration: underline;
}

/* ==================== */

footer {
	border-top: 1px solid #999;
	height: 25px;
	padding-top: 0px;
	background-image: url("../images/bullet.gif");
	background-position: 0px 3px;
	background-repeat: no-repeat;
}

footer p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 25px;
}

footer p.link {
	float: right;
	margin-top: 3px;
}

footer p.designer {
	float right;
	text-align: right;
}

footer p.link a, footer p.designer a {
	color: #660000;
	font-weight: bold;
	text-decoration: none;
}

footer img {
	vertical-align: middle;
	margin-right: 0.5em;
}

footer strong {
	color: #660000;
}

footer p.link a:hover, footer p.designer a:hover	{
	text-decoration: underline;
}

/* ==================== */

@media (max-width:992px) {
	.container,.container-md,.container-sm {
		max-width:100%
	}
}

@media (min-width: 300px) {
	.navbar-brand {white-space: normal !important}}

/* ==================== */

@media (min-width:640px) {
	ul#postcode {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none;
		background-color: transparent;
		font-size: 15px;
		font-family: arial, sans-serif;
		height: 41px;
		width: 750px;
	}

	ul#postcode ul {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		list-style-position: outside;
		list-style-image: none;
		position: absolute;
		left: -9999px;
	}

	ul#postcode table {
		border-collapse: collapse;
		font-size: 2em;
		float: left;
		margin-top: -1px;
		margin-right: -1px;
		margin-bottom: -1px;
		margin-left: -1px;
	}

	ul#postcode ul li {
		float: left;
		margin: 0px;
		text-align: left;
	}

	ul#postcode ul li a {
		display: block;
		line-height: 20px;
		margin: 0px;
		padding: 0px 10px;
		text-align: left;
		background-color: transparent;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		width: 150px;
	}

	ul#postcode ul li a:visited {
		color: #F24932;
	}

	ul#postcode ul li a p {
		float: left;
		margin: 0px;
		width: 28px;
	}

	ul#postcode li {
		display: inline;
		margin: 0px; -2px;
		text-align: left;
	}

	ul#postcode li a {
		display: inline-block;
		height: 36px;
		margin-top: 5px; 0px; 0px;
		text-align: center;
		background-color: transparent;
		background-image: url("../images/button.gif");
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		line-height: 30px;
		text-decoration: none;
		color: black;
	}

	html > body ul#postcode li {
		display: inline-block;
		padding: 0px;
	}

	* html ul#postcode li a {
		margin-bottom: -4px;
	}

	ul#postcode li a b {
		display: block;
		float: left;
		height: 36px;
		width: 28px;
		background-color: transparent;
		background-image: url("../images/button.gif");
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		cursor: pointer;
		color: #CC3300;
	}

	ul#postcode li a:hover {
		position: relative;
		background-position: right bottom;
		color: white;
	}

	ul#postcode li a:hover b {
		background-position: left bottom;
		color: white;
	}

	ul#postcode li:hover {
		position: relative;
	}

	ul#postcode li:hover > a {
		background-position: right bottom;
		color: white;
	}

	ul#postcode li:hover > a b {
		background-position: left bottom;
		color: white
	}

	ul#postcode :hover ul {
		left: 1px;
		width: 105px;
		top: 41px;
	}

	* html ul#postcode :hover ul {
		top: 36px;
	}

	ul#postcode :hover ul li {
		display: block;
		float: left;
		margin: 0px;
		border: 1px solid white;
	}

	ul#postcode :hover ul li a {
		display: block;
		float: left;
		margin: 0px;
		height: 25px;
		line-height: 25px;
		width: 195px;
		background-color: #DDDDDD;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		color: black;
		text-decoration: none;
	}

	ul#postcode :hover ul li a.narrow {
		width: 170px;
	}

	ul#postcode :hover ul li a.arrow {
		background-color: #DDDDDD;
		background-image: url("../images/arrow.gif");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: right center;
	}

	ul#postcode :hover ul li a:hover {
		background-color: #F24932;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		color: white;
	}

	ul#postcode :hover ul li:hover > a {
		background-color: #F24932;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		color: white;
	}

	ul#postcode :hover ul ul {
		left: -9999px;
	}

	ul#postcode :hover ul :hover ul {
		left: 195px;
		top: 0px;
		width: 150px;
	}

	ul#postcode :hover ul :hover ul li {
		display: block;
		float: left;
		margin: 0px;
		border-bottom-width: 1px solid white;
	}

	ul#postcode :hover ul :hover ul li a {
		display: block;
		float: left;
		margin: 0px;
		height: 25px;
		line-height: 25px;
		background-color: #BBBBBB;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
		color: black;
	}

	ul#postcode :hover ul :hover ul li a:hover {
		color: white;
		background-color: #DD220A;
		background-image: none;
		background-repeat: repeat;
		background-attachment: scroll;
		background-position: 0% 0%;
	}
}

@media (max-width:640px) {
	footer {
		margin-top: 420px;
}

	ul#postcode {
		z-index: 1000;
		padding: 0;
		margin: 0 0 0 calc(50% - 125px);
		 list-style-type: none;
		  width: 40px;
	}

/* position relative so that you can position
   the sub levels */
	ul#postcode li {
		position: relative;
		background: #aaaaaa;
		height: 41px;
	}

	ul#postcode ul {
		margin: 0 0 0 40px;
		padding: 0;
		 list-style-type: none;
	

	ul#postcode ul li {
		background: #dddddd;
		width: 209px;
	}

	ul#postcode ul ul li {
		background: #c9c9c9;
		width: 169px;
	}

	/* style the links */
	ul#postcode li a:link,
	ul#postcode li a:visited {
		font-family: arial, sans-serif;
		display: block;
		text-decoration: none;
		height: 40px;
		line-height: 40px;
		width: 39px;
		color: #f24932;
		text-indent: 13px;
		text-decoration: none;
		border-right: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
	}

	ul#postcode ul a p {
		float: left;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 28px;
	}

	ul#postcode ul a:link,
	ul#postcode ul a:visited {
		color: #000000;
		width: 249px;
	}

	ul#postcode ul ul li a:link,
	ul#postcode ul ul li a:visited {
		width: 169px;
	}

	/* style the link hover */
	ul#postcode li:hover > a {
		color: #ffffff;
		background: #F24932;
		text-decoration: none;
	}

	ul#postcode ul li:hover > a {
		color: #ffffff;
		width: 210px;
	}

	ul#postcode ul ul li:hover > a {
		border-left: 1px solid #ffffff;
		width: 169px;
	}

	/* hide the sub levels and give them a
	positon absolute so that they take up no room */
	ul#postcode ul {
		visibility: hidden;
		position: absolute;
		top: 0;
		z-index: 2000;
	}

	/* make the second level visible when hover
	on first level list OR link */
	ul#postcode li:hover ul,
	ul#postcode a:hover ul {
		visibility: visible;
	}

	/* keep the third level hidden when you hover
	on first level list OR link */
	ul#postcode li:hover ul ul{
		visibility: hidden;
	}

	/* make the third level visible when you hover
	over second level list OR link */
	ul#postcode li:hover ul li:hover ul{
		visibility: visible;
	}
}